<div class="row">
    <div class="col-xs-offset-4 col-xs-4" alert-stack></div>
</div>
<div class="row">
    <form name="signinForm" novalidate class="col-xs-offset-4 col-xs-4" ng-submit="signin.execute()">
        <div class="form-group"><input type="text" name="email" class="form-control" ng-model="sign.email" placeholder="email"></div>
        <div class="form-group"><input type="password" name="password" class="form-control" ng-model="sign.password" placeholder="password"></div>
        <div class="form-group"><input class="form-control btn btn-primary" type="submit" value="Ok"></div>
    </form>
</div>
