<div class="container-fluid dictionary-word-modal">
    <div class="dictionary-word-divider" ng-repeat="translation in currentExercise.translations">
        <div class="row dictionary-word">
            <div class="col-xs-2">
                <span ng-show="translation.used" class="glyphicon glyphicon-ok-sign"></span>
            </div>
            <div class="col-xs-10" ng-class="{'text-muted': translation.used && translationOne()}" ng-click="toggleTranslation.execute($index)">
                {{translation.body}}
            </div>
        </div>
    </div>
    <div class="row dictionary-word-driver">
        <div class="col-xs-6">
            <div class="dictionary-translation-preloader">
                <img class="center-block" src="assets/images/32-preloader.gif" alt="preloader">
            </div>
        </div>
        <div class="col-xs-6"><button class="btn btn-warning form-control" ng-click="closeModal()"><span class="glyphicon glyphicon-remove"></span></button></div>
    </div>
</div>
