<div class="row">
    <div class="col-xs-2"><h3 class="text-center">{{count}}</h3></div>
    <div class="col-xs-8"><h3 class="text-center">{{title}}<span ng-show="repetitionAmount !== null">: <strong>{{repetitionAmount}}</strong></span></h3></div>
</div>
<div class="row">
    <div class="col-xs-6 text-center left-side" ng-class="{'lesson-word': leftSide.word, 'lesson-translation': leftSide.translation}">
        <span ng-bind-html="leftSide.body"></span>
    </div>
    <div class="col-xs-6 text-center right-side" ng-class="{'invisible': rightSide.invisible, 'lesson-word': rightSide.word, 'lesson-translation': rightSide.translation}">
        <span ng-bind-html="rightSide.body" ng-class="{'lesson-success': rightSide.success, 'lesson-error': rightSide.error}"></span>
    </div>
</div>
<div class="row lesson-driver">
    <div class="col-xs-offset-4 col-xs-1"><button class="btn btn-default form-control" ng-disabled="playDisabled" ng-click="play()"><span class="glyphicon glyphicon-play"></span></button></div>
    <div class="col-xs-1"><button class="btn btn-default form-control" ng-disabled="answerDisabled" ng-click="answer.execute(true)"><span class="glyphicon glyphicon-ok"></span></button></div>
    <div class="col-xs-1"><button class="btn btn-default form-control" ng-disabled="answerDisabled" ng-click="answer.execute(false)"><span class="glyphicon glyphicon-remove"></span></button></div>
    <div class="col-xs-1"><button class="btn btn-default form-control" ng-disabled="nextDisabled" ng-click="pushNextExercise()"><span class="glyphicon glyphicon-step-forward"></span></button></div>
    <div class="col-xs-offset-1 col-xs-1"><button class="btn btn-default form-control" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span></button></div>
</div>

