<div class="row">
    <div class="col-xs-2"><h3 class="text-center">{{exercises.length}}</h3></div>
    <div class="col-xs-8"><h3 class="text-center">Reading<span ng-show="repetitionAmount !== null">: <strong>{{repetitionAmount}}</strong></span></h3></div>
</div>
<div class="row">
    <div class="col-xs-6 text-center left-side lesson-word">
        <span ng-if="currentExercise">{{currentExercise.word}} <span ng-if="currentExercise.position">[{{currentExercise.ts}}] <em>{{currentExercise.position}}</em></span></span>
    </div>
    <div class="col-xs-6 right-side lesson-translation" ng-class="{'after-play': playActivated}">
        <div class="row" ng-repeat="randomExercise in randomExercises track by randomExercise.id">
            <div class="col-xs-12 checkbox">
                <label class="translation-list" ng-class="{'lesson-correct': currentExercise.id === randomExercise.id, 'lesson-wrong': currentExercise.id !== randomExercise.id}">
                    <input type="checkbox" ng-model="selectedRandomExercises[$index]" ng-disabled="selectedRandomExerciseDisabled">
                    <span ng-repeat="translation in randomExercise.translations | filter:{used: true}  track by translation.id">{{translation.body}}</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row lesson-driver">
    <div class="col-xs-offset-5 col-xs-1"><button class="btn btn-default form-control" ng-disabled="answerDisabled" ng-click="play.execute()"><span class="glyphicon glyphicon-play"></span></button></div>
    <div class="col-xs-1"><button class="btn btn-default form-control" ng-disabled="nextDisabled" accesskey="n" ng-click="pushNextExercise()"><span class="glyphicon glyphicon-step-forward"></span></button></div>
    <div class="col-xs-1"><button class="btn btn-default form-control" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span></button></div>
</div>

