.lesson-word {
    margin: 150px 0;
}

.lesson-translation {
    margin: 150px 0 50px 0;
}

.lesson-driver {
    margin-bottom: 200px;
}

.left-side > span, .right-side > span{
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 4px;
    font-weight: 600;
}

.right-side .lesson-success {
    background-color: #32af30;
}

.right-side .lesson-error {
    background-color: #da3f3f;
}

.right-side label {
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
}

.right-side:not(.after-play) label:hover {
    background-color: #ccc;
}

.after-play label.lesson-correct {
    color: #000;
    font-weight: 600;
}

.after-play label.lesson-wrong  {
    color: #bbb;
}


