.ng-pristine + span > span.glyphicon {
    &-ok, &-remove {
        display: none;
    }
}

.ng-valid + span > .glyphicon {
    &-ok {
       display: inherit;
    }

    &-remove {
        display: none;
    }
}

.ng-invalid + span > .glyphicon {
    &-ok {
       display: none;
    }

    &-remove {
        display: inherit;
    }
}